/*
* @Author: Administrator
* @Date:   2017-06-19 15:20:55
* @Last Modified by:   Administrator
* @Last Modified time: 2017-06-19 15:21:08
*/
/* Remove margin padding */
body,h1,h2,h3,h4,h5,h6,hr,img,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,span{margin:0;padding:0;}
/* Default Font */
body,button,input,select,textarea{font:12px/1.5 \5b8b\4f53,arial,sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}

.col-main{float:left;width:100%;min-height:1px;}
.col-sub,.col-extra{float:left;}
.layout:after,.main-wrap:after,.col-sub:after,.col-extra:after{content:'\20';display:block;height:0;clear:both;}
.layout,.main-wrap,.col-sub,.col-extra{zoom:1;}

/* Common Features */
.hidden{display:none;}
.invisible{visibility:hidden;}

/* Remove Float */
.clear{display:block;height:0;overflow:hidden;clear:both;}
.clearfix:after{content:'\20';display:block;height:0;clear:both;}
.clearfix{*zoom:1;}

/* For non ie browsers also display the vertical scroll bar by default, to prevent the flicker caused by the scroll bar */
html{overflow-y:scroll;}

/* Default link styles */
a:link,a:visited{text-decoration:none;}
a:hover,a:active{text-decoration:underline;}

/*  */

/** 以下是必要样式 **/
.wrap{z-index: 1000;position: absolute;left: 85px;top: 0px;}   /* ul 在窗口的位置 */
.all-sort-list{position:relative;width:207px;padding:3px 3px 3px 0px;background:#fff;}   /* ul >li 宽度  以及高度设置 */
.all-sort-list .item{height:44px;border-top:1px dotted black;width:191px;margin:0 10px; }   /* li 的 border-bottom  */
.all-sort-list .item.bo{border-top:none;} /* 不可修改 */
.all-sort-list .item h3{line-height:46px;font-size:11px;font-weight:normal;width:212px;overflow:hidden;margin-left: -10px;}  /* li的宽高设置 */
.all-sort-list .hover h3{position:relative;z-index:13;background:#ffffff;border-color:#90c31f;border-width:1px 0px;border-style:solid;border-left: 1px solid #90c31f;margin-top: -1px;}/* li>li的宽高设置 */
.all-sort-list .item span{padding:0px 5px;color:black;font-family:"\5B8B\4F53";} 
.all-sort-list .item a{color:#666666;text-decoration:none;margin-left: 60px;}
.wrap .all-sort-list .item h3 span img{position: absolute;left:34px;margin-top: 12px; }
.wrap .all-sort-list .item .spans img{display: inline-block;position: absolute;left: 166px;margin-top: -30px;}

.all-sort-list .item-list{
  display:none;
  position:absolute;
  width:764px;
  height: 322px;
  min-height:200px;
  _height:200px;
  background:#FFF;
  left:210px;
  /* box-shadow:0px 0px 10px #DDDDDD; */
  border:1px solid #90c31f;
  top:-1px;
  z-index:10;
  margin-top: -3px;
  /* overflow: hidden; */
}
/* @@@@@@@@@@@@@@@@@品牌 */
.item-list  .fore1{
  width: 524px;
  height: 72px;
  /* background: pink; */
  overflow: hidden;
  float: left;
}
.item-list  .fore1 p{
  width: 54px;
  height: 72px;
  /* background: gray; */
  margin-left: 42px; 
  margin-top: 22px;
  float: left;
}
.item-list  .fore1 .fore-con1{
  width: 428px;
  height: 36px;
  /* background: blue; */
  float: right;
}
.item-list  .fore1 .fore-con1 span{
  padding: 0;
  color: #ccc;
  margin-left: -3px;
}
.item-list  .fore1 .fore-con1 a{
  display: inline-block;
  margin:0;
  color: #666666;
  margin: 0 1px;
  padding-top: 22px;
}
.item-list  .fore1 .fore-con1 .size1,.item-list  .fore1 .fore-con1 .size2,.item-list  .fore1 .fore-con1 .size3{
  color: #f60;
}
.item-list  .fore1 .fore-con2{
  width: 428px;
  height: 35px;
  /* background: green; */
  float: right;
  border-bottom: 1px dotted gray;
}
.item-list  .fore1 .fore-con2 span{
  padding: 0;
  color: #ccc;
  margin-left: -3px;
}
.item-list  .fore1 .fore-con2 a{
  display: inline-block;
  margin:0;
  color: #666666;
  margin: 0 1px;
  padding-top: 11px;
}
.item-list  .fore1 .fore-con2 .size1,.item-list  .fore1 .fore-con2 .size2{
  color: #f60;
}

/* @@@@@@@@@@@@@@@@@周期 */
.item-list  .fore2{
  width: 524px;
  height: 48px;
  /* background: blue; */
  overflow: hidden;
}
.item-list  .fore2 p{
  width: 54px;
  height: 48px;
  /* background: gray; */
  margin-left: 42px; 
  margin-top: 15px;
  float: left;
}
.item-list  .fore2 .fore-con{
  width: 428px;
  height: 47px;
  /* background: blue; */
  float: right;
  border-bottom:1px dotted gray;
}
.item-list  .fore2 .fore-con span{
  padding: 0;
  color: #ccc;
  margin-left: -3px;
}
.item-list  .fore2 .fore-con a{
  display: inline-block;
  margin:0;
  color: #666666;
  margin: 0 1px;
  padding-top: 15px;
}
.item-list  .fore2 .fore-con .size1,.item-list  .fore2 .fore-con .size2{
  color: #f60;
}
/* ###########右边图片区 */
.item-list .fore-right{
  width: 237px;
  height: 322px;
  /* background: gray; */
  float: right;
  margin-top: -264px;
}
.item-list .fore-right .fore-right-com{
  width: 225px;
  height: 284px;
  /* background: #f60; */
  margin-top: 18px;
  border-left: 1px solid gray;
}
.item-list .fore-right .fore-right-com a img{
  margin-left: -45px;
  margin-bottom: 24px;
}
/* 鼠标移入字体变红 */
.item-list  .fore1 .fore-con a:hover{
  color:#f60;
}
.item-list  .fore1 .fore-con1 a:hover,.item-list  .fore1 .fore-con2 a:hover{
  color: #f60;
}